body {
	margin: 0;
	padding: 0;
	border: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
	min-width: 0;
}

a {
text-decoration: none;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
fieldset,
pre {
	margin: 0px;
	padding: 0px;
}
ul,
ol {
	list-style: none;
}

router-outlet {
	position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

fieldset {
	border: none;
}
